	<script src="{{ '/assets/js/lazyload.js' | relative_url }}"></script>
    <script src="https://cdnjs.daffadev.workers.dev/47a20a2303f01cc064d1a7b07ede0fcf80aa0832/j-static/simpleCart.js?version = 2.0.1"></script>
    <script src="https://cdnjs.daffadev.workers.dev/41e9454fc0368846a7dac817138ae191377247a5/j-static/formOrder.js?version = 2.0"></script>
    <script async src="https://cdnjs.daffadev.workers.dev/03e0b7956f47578b6f7653a1993fd2a09ebe10fb/j-static/mainForm.js"></script>
    <script async src="{{ '/assets/js/sweetalert.min.js' | relative_url }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@4.0/dist/fancybox.umd.js"></script>
    {% if page.url contains '/products/' %}
      <script async src="https://cdnjs.daffadev.workers.dev/03e0b7956f47578b6f7653a1993fd2a09ebe10fb/j-static/add-to-cart.js"></script>
      <script async src="{{ '/assets/js/app.js?v2.0' | relative_url }}"></script>
    {% endif %}
    {% if page.url == '/checkout/' %}
      <script async src="https://cdnjs.daffadev.workers.dev/03e0b7956f47578b6f7653a1993fd2a09ebe10fb/j-static/checkout.js"></script>
    {% endif %}
	<script src="{{ '/assets/js/popper/umd/popper.min.js' | relative_url }}"></script>
	<script src="{{ '/assets/js/bootstrap/bootstrap.bundle.min.js' | relative_url }}"></script>
	<script type="module" src="{{ '/assets/js/cookie-config.js' | relative_url }}"></script>
	<script src="{{ '/assets/js/fontawesome/all.min.js' | relative_url }}"></script>
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script type="text/javascript">
var Messages=new Date,Jams=Messages.getHours();document.getElementById("WelcomeMessage").innerHTML=5<=Jams&&Jams<=11?"Selamat Pagi":12<=Jams&&Jams<=15?"Selamat Siang":15<=Jams&&Jams<=17?"Selamat Sore":18<=Jams&&Jams<=23?"Selamat malam":"Selamat malam menjelang pagi"
</script>
<script type="text/javascript">
$(document).ready(function(){
  $(".show").click(function(){
    $("#show").hide();
  });
  $(".item_add").click(function(){
    $("#liveToast").show().fadeOut(5000);
  });
});
</script>
